html {
  background-color: gray;
}

.z-label {
  font-size: .9em;
}

.z-window {
  background: gray;
}

.z-grid {
  border: 1px solid black;
}

.z-button {
  min-height: 20px;
}

.z-textbox {
  margin: 1px;
}

.infoLista {
	color: #319ce8;
    padding: 1em 2em 1em 2em;
    border: 2px solid;
    border-radius: 8px;
}

.infoListaTxt {
	font: normal 0.8em Verdana, Arial, Helvetica, sans-serif, "Arial Narrow";
	font-style: italic;
	color:#4d4f4e;
}