<!-- tag::bgContainerCssClass[] -->
.bg-container {
  border: 1px solid #fdfdfd;
  border-top: 1px solid #fdfdfd;
  box-shadow: 0px 5px 10px #919191;
  background: #fff url("../img/fondo-header.jpg") top right no-repeat;
  padding: 0.4% 1.5% 1.4% 1.5%;
}
<!-- end::bgContainerCssClass[] -->

<!-- tag::footerCssClass[] -->
footer {
  width:750px;
  margin: 0.9em auto 0 auto;
  padding: 0;
  font-size: 0.875em;
}
<!-- end::footerCssClass[] -->
