<?xml version="1.0" encoding="ISO-8859-1" ?>

<taglib>
  <uri>http://www.zkoss.org/demo/integration/security</uri>
  <description>
    Methods and actions for ZK + Spring Security
  </description>

  <function>
    <name>hasRole</name>
    <function-class>
      es.gva.aplicacion.arquetipobase.security.ZkSecurityUtil
    </function-class>
    <function-signature>
      boolean hasRole(java.lang.String rol)
    </function-signature>
    <description>
      Devuelve true si el usuario autenticado tiene el rol
      especificado
    </description>
  </function>

</taglib>
