<?page title="403" contentType="text/html;charset=UTF-8"?>
<?link rel="stylesheet" type="text/css" href="/static/public/css/style.css"?>

<zk>
  <window border="normal" width="700px">
    <grid>
      <columns>
        <column width="100px"/>
        <column />
      </columns>
      <rows>
        <row >
          Http Status Code:
          <label id="httpCodeLbl" value="${error.403}" />
        </row>
        <row>
          Error:
          <label id="errMesgLbl" value="${error.403_mensaje}" />
        </row>
      </rows>
    </grid>
  </window>
</zk>